/* write your css here */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.box-shadow-class{
    -webkit-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
    box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
}